/**
 * @package formation
 * @since formation 1.0
 *
 */
 
.main-navigation li:hover > a,
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	border-top: 4px solid #e10707;
	background-color: #FFF;
	color: #e10707;
}
.main-navigation > li > a, .main-navigation li.current_page_ancestor a {
	border-top: 4px solid #e10707;
	color: #e10707;
}
.main-navigation ul ul li:hover > a,
.main-navigation ul ul li.current_page_item a,
.main-navigation ul ul li.current-menu-item a {
	border-top: 0;
}
.main-navigation ul ul {
	border-top: 4px solid #e10707;
}
.main-small-navigation li:hover > a,
.main-small-navigation li.current_page_item a,
.main-small-navigation li.current-menu-item a,
.main-small-navigation ul ul a:hover {
	color: #e10707;
}
.widget-title {
	border-bottom: 4px solid #e10707;
}
.flex-caption-title { 
	background-color: #e10707;
}
.entry-meta a {
	color: #e10707;
}
.featuretext_middle {
	border-top: 1px solid #e10707;
}
.socialIcons a, .socialIcons a:visited {
	color: #e10707;
}
.authorLinks a{
	color: #e10707; 
}
.thumbs-more-link a{
	background-color: #e10707;
}
.more-link {
	background-color: #e10707;
}
.grid-more-link {
	background-color: #e10707;
}
#smoothup:hover { 
	background-color: #e10707;
}
.comment .reply { 
	background-color:  #e10707;
}
.featuretext_button a {
	background-color: #e10707;
}
.tagcloud a {
	border: 1px solid #e10707;
}
.tagcloud a:hover {
	background: #e10707;
}
.entry-content a, .entry-content a:visited, .entry-summary a, .entry-summary a:visited{
    color: #e10707;
}
.entry-content a:hover, .entry-summary a:hover{
    color: #666;
}
.grid-more-link a, .grid-more-link a:visited, .grid-more-link a hover{
	color: #FFF;
}