.Text1-editorial, .Text1-features, .Text1-related, .Text1-customer, .Text1-accessories {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
.Text1-editorial b, .Text1-features b, .Text1-related b, .Text1-customer b, .Text1-accessories b {
	color: #3883ad;
	padding: 5px, 0px, 5px, 0px;
}
.Text1 {
	font: 11px Verdana, Arial, Helvetica, sans-serif;	
}
.Text1-related a, .Text1-accessories a {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
.store {
 color: #3883ad;
 font: 18px "Trebuchet MS",sans-serif;
 border-bottom: 1px solid #000000;
}
.storesearchbox {
	margin: 10px;
	border: 1px double #a8a6a6;
	padding: 10px;
}