/*
Theme Name: Fluid Solution
Theme URI: http://www.kaushalsheth.com/
Description:  Totally liquid three-column layout, clean and simple.
Author: Kaushal Sheth
Author URI: http://www.kaushalsheth.com/

*/


/*#############################################################
Name: Fluid Solution
Date: 2006-09-06
Description: Totally liquid three-column layout, clean and simple.
Author: Viktor Persson
URL: http://arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */

* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url(img/wpod-header.jpg) repeat-x center top;
	color: #444;
	font: normal 14px "Lucida Sans Unicode",Verdana,sans-serif;
}

.yesMobile {
	display: none;
}

a {
	color: #104E8B;
}

a:hover {
	text-decoration: none;
	color: #619853;
}

a img {
    border:none;
}

p,code,ul,li {
	padding-bottom: 1.2em;
	line-height: 24px;
}

.entry div.sharedaddy h3.sd-title {
	font-size: 16px;
	color: #696969;
}

li {
	list-style: none;
}

code {
	background: url('img/bgcode.gif');
	border: 1px solid #F0F0F0;
	border-left: 6px solid #F06;	
	color: #444;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: #FBFCF5;
	border-bottom: 1px solid #EED;
	border-top: 1px solid #EED;
	color: #444;
	display: block;
	font: normal 0.9em Verdana,sans-serif;
	margin-bottom: 12px;
	padding: 12px;
}
h1,h2,h3,h4 {
	font: normal 1.2em "Trebuchet MS",sans-serif;
	color: #104E8B;
}
h2.home {
	background-color: #222;
	font-weight: bold;
	color: #104E8B;
	margin: 5px 5px 5px 0;
	padding: 5px;
	font-size: 16px;
}
/* misc */
.clearer {
	clear: both;
}

.entry iframe {
	height: 400px;
	width: 100%;
}

/* header */

.takedown {
	position: relative;
    height: 40px;
    text-align: center;
    font: normal 12px "Lucida Sans Unicode",Verdana,sans-serif;
    margin-bottom: 20px;
}

.takedown li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 10px 10px 0;
	padding: 0;
	font-size: 16px;
}


.takedown a {
	color: #ffffff;
}

.takedown a:hover {
	text-decoration: underline;
}

.header {
	position: absolute;
	top: 5px;
	left: 0;
}

.header a {
	color: #ffffff;
	font: normal 30px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-decoration:none;
	text-shadow: 3px 3px 4px #3883ab;
}

.header a:visited {
	color: #ffffff;
	text-decoration:none;
}

.header h2 {
	border-top: 1px solid #EEE;
	color: #666;
	text-align: right;
}
.desc {
	font-size: 1.0em;
	background: #222;
	color: #eee;
	padding: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.themat {
	width: 1040px;
	margin: 0 auto 20px auto;
	padding: 0 10px;
	overflow: hidden;
}

/* left side (main content) */
.left {
	float: left;
	background-color: #ffffff;
}

.content {
	width: 600px;
}

.content.wide {
	width: 1000px;
}

.content .descr {
	color: #666666;
	font-size: 1.2em;
	margin-bottom: 6px;
}

.content li {
	margin-left: 55px;
	list-style-position: outside;
	padding-bottom: 5px;
}

.content h1 {
	font-size: 30px;
	margin: 14px 0;
}

h1.categoryTitle {
	font-size: 40px;
	color: #3e83ac;
	border: none;
	text-shadow: 3px 3px 4px #ccc;
}
.content h2 {
	font-size: 18px;
	margin-bottom: 10px;
}
.content h3 {
	font-size: 16px;
	font-weight: bold;
}
.content a,
.footer a {
	color: #104E8B;
	
}
.content a:hover, .footer a:hover {
	color: #444;
	border-bottom: 1px solid #F06;
}

/* nav & subnavigation */
.nav {
	margin: 0 20px 20px;
}

/* navigation */
.nav {
	float: left;
	text-align: left;
	width: 160px;
}

.sidebar h1 {
	color: #ffffff;
	margin: 12px 0;
    font-size: 18px;
    padding: 8px 0;
    font-weight: bold;
    background-color: #104E8B;
    text-align: center;
}

.sub-menu {
	padding-bottom: 0;
	padding-left: 10px;
}

.sidebar li {
	line-height: 14px;
	padding: 0 0 5px 0;
}

.current-menu-ancestor {
	padding-bottom: 0;
}

.sidebar li a {
	color: #696969;
	display: block;
    padding: 4px 4px;
    font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
}
.sidebar li a:hover {
	background: #464646;
	color: #ffffff;
}

/* subnav */
.right {
	float: left;
	width: 230px;
}

.children {
	padding-bottom:0px;
}

/* footer */
.footer {
    clear: both;
}

/*post stylng*/
.post{
	margin:0 0 25px 0;
	padding-bottom: 10px;
	clear: both;
	-moz-box-shadow: 0 4px 2px -2px #e5e5e5;
	-webkit-box-shadow: 0 4px 2px -2px #e5e5e5;
	box-shadow: 0 4px 2px -2px #e5e5e5;
	clear: both;
	overflow: hidden;
}

.post .info{
	padding:2px 3px 3px 8px;
	border:1px solid #e3e4e4;
	background-color:#f5f5f5;
	font-size:0.9em;
	color:#505050;
}

.postThumbnail {
	float: left;
	width: 180px;
}

.postPhoto {
    float:left;
    margin: 10px;
    width: 280px;
    height: 280px;
}

.postPhoto img {
    width: 280px;
    height: 280px;
}



/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-weight: 500;
	padding: 20px 0;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	list-style-type: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	padding: 5px;
	float: right;
}

.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}

/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 90%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}
#s {
	width: 95%;
}
.alignright {
	float: right;
	padding: 3px;
}
.alignleft {
	float: right;
	padding: 3px;
}
/* =Images
-------------------------------------------------------------- */

.entry img {
	margin: 0;
	 height: auto; 
	max-width: 100%;
	/* width: auto; */
}
.entry .attachment img {
	max-width: 900px;
}
.entry .alignleft,
.entry img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.entry .alignright,
.entry img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.entry .aligncenter,
.entry img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry img.alignleft,
.entry img.alignright,
.entry img.aligncenter {
	margin-bottom: 12px;
}
.entry .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
.entry .wp-caption img {
	margin: 5px 5px 0;
}
.entry .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.entry .wp-smiley {
	margin: 0;
}
.entry .gallery {
	margin: 0 auto 18px;
}
.entry .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.entry .gallery img {
	border: 2px solid #cfcfcf;
}
.entry .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.entry .gallery dl {
	margin: 0;
}
.entry .gallery img {
	border: 10px solid #f1f1f1;
}
.entry .gallery br+br {
	display: none;
}
.entry .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

.facebook-box {
	background-color: #FFF;
	padding: 0 0 5px 0;
}

.home_widget {
	float: left;
	margin-bottom: 20px;
}

.home_widget h1 {
	font-size: 26px;
}

.home_widget.text-3,
.home_widget.archives-3 {
	padding-left: 20px;
}

.home_widget.text-5 {
	clear: both;
}

.product-detail {
    border: 1px solid #ccc;
    width: 220px;
    height: 330px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    float: left;
    overflow: hidden;
}

.product-detail.alt {
	width: auto;
	height: auto;
}

.product-detail h4 {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
}

.product-detail.alt h4 {
	font-size: 11px;	
}

.product-mobile {
    clear: both;
}

.entry li {
	list-style-type: disc;
	list-style-position: outside;
}

.post-teaser-block {
	font-size: 14px;
}

@media all and (max-width: 640px) {
	.postThumbnail {
		float: none;
		width: 100%;
		text-align: center;
	}
	.themat {
		width: 90%;
	}
	.content,
	.content.wide {
		width: 100%;
	}
	.takedown {
		height: auto;
		margin-left: -20px;		
	}
	.takedown li {
		font-size: 12px;
		margin: 5px;
		
	}
	.header {
		position: relative;
	}
	.header a {
		font-size: 20px;
	}
	.desc {
		display: none;
	}
	.noMobile {
		display: none;
	}
	#menu-mobile {
		padding-bottom: 0;
	}
	.home_widget h1,
	.content h1 {
		font-size: 20px;
	}
	.yesMobile {
		display: block;
	}
	.left {
		float: none;
	}
	.img {
		max-width: 100%;
		height: auto;
	}
}